@{
    ViewData["Title"] = "Help";
    ViewBag.NavStyle = "navbar-light navbar-box-shadow bg-light navbar-sticky";
}

<!-- Hero-->
<section class="jarallax bg-gradient py-7" data-jarallax data-speed="0.25">
    <span class="bg-overlay bg-gradient" style="opacity: .85;"></span>
    <div class="jarallax-img" style="background-image: url(images/help-center/hero-bg.jpg);"></div>
    <div class="container bg-overlay-content">
        <div class="row justify-content-center py-md-5">
            <div class="col-lg-6 col-md-8 text-center">
                <h1 class="text-light">How can we help?</h1>
                <p class="font-size-lg text-light pb-3">Ask questions. Browse topics. Find answers</p>
                <form class="input-group-overlay mb-3">
                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="siribiz-search"></i></span></div>
                    <input class="form-control prepended-form-control" type="text" placeholder="Ask your question...">
                </form>
                <div class="font-size-sm text-left"><span class="text-light opacity-70 mr-3">Suggestions:</span><a class="cs-fancy-link text-light mr-3" href="#">Dashboard</a><a class="cs-fancy-link text-light mr-3" href="#">Payment</a><a class="cs-fancy-link text-light mr-3" href="#">Refunds</a><a class="cs-fancy-link text-light" href="#">Delivery</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Topics grid-->
<section class="container mt-4 pt-5 mt-md-0 pt-md-7 pb-5">
    <h2 class="mb-5 text-center">Select a topic</h2>
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <a class="card h-100 border-0 box-shadow card-hover" href="help-single-topic.html">
                <div class="card-body pl-grid-gutter pr-grid-gutter text-center">
                    <i class="siribiz-user-check h2 text-primary mt-2 mb-4"></i>
                    <h3 class="h5">Managing account</h3>
                    <p class="font-size-sm text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.</p>
                    <div class="btn btn-translucent-primary btn-sm mb-2">Learn more</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <a class="card h-100 border-0 box-shadow card-hover" href="help-single-topic.html">
                <div class="card-body pl-grid-gutter pr-grid-gutter text-center">
                    <i class="siribiz-settings h2 text-primary mt-2 mb-4"></i>
                    <h3 class="h5">Managing account</h3>
                    <p class="font-size-sm text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.</p>
                    <div class="btn btn-translucent-primary btn-sm mb-2">Learn more</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <a class="card h-100 border-0 box-shadow card-hover" href="help-single-topic.html">
                <div class="card-body pl-grid-gutter pr-grid-gutter text-center">
                    <i class="siribiz-credit-card h2 text-primary mt-2 mb-4"></i>
                    <h3 class="h5">Payment options</h3>
                    <p class="font-size-sm text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.</p>
                    <div class="btn btn-translucent-primary btn-sm mb-2">Learn more</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <a class="card h-100 border-0 box-shadow card-hover" href="help-single-topic.html">
                <div class="card-body pl-grid-gutter pr-grid-gutter text-center">
                    <i class="siribiz-truck h2 text-primary mt-2 mb-4"></i>
                    <h3 class="h5">Delivery information</h3>
                    <p class="font-size-sm text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.</p>
                    <div class="btn btn-translucent-primary btn-sm mb-2">Learn more</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <a class="card h-100 border-0 box-shadow card-hover" href="help-single-topic.html">
                <div class="card-body pl-grid-gutter pr-grid-gutter text-center">
                    <i class="siribiz-refresh-cw h2 text-primary mt-2 mb-4"></i>
                    <h3 class="h5">Refund policy</h3>
                    <p class="font-size-sm text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.</p>
                    <div class="btn btn-translucent-primary btn-sm mb-2">Learn more</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <a class="card h-100 border-0 box-shadow card-hover" href="help-single-topic.html">
                <div class="card-body pl-grid-gutter pr-grid-gutter text-center">
                    <i class="siribiz-share-2 h2 text-primary mt-2 mb-4"></i>
                    <h3 class="h5">Affiliate program</h3>
                    <p class="font-size-sm text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.</p>
                    <div class="btn btn-translucent-primary btn-sm mb-2">Learn more</div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- FAQ-->
<section class="container pt-md-4 mb-2 pb-5 pb-md-6 mb-md-0">
    <h2 class="mb-5 text-center">F.A.Q</h2>
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-unstyled">
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">How long will delivery take?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">What payment methods do you accept?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">Do you ship internationally?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">Do I need an account to place an order?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">How can I track my order?</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-unstyled">
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">What are the product refund conditions?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">Do you have discounts for returning customers?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">How do your referral program work?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">Where I can view and download invoices for my orders?</a></li>
                <li class="d-flex align-items-center border-bottom pb-3 mb-3"><i class="siribiz-book text-muted mr-2"></i><a class="nav-link-style" href="#">Do you provide technical support after the purchase?</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Submit request-->
<section class="bg-secondary py-6">
    <div class="container text-center">
        <h2 class="h3 pb-2 mb-4">Haven't found the answer? We can help.</h2><i class="siribiz-life-buoy d-block h2 pb-2 mb-4 text-primary"></i><a class="btn btn-primary mb-4" href="help-submit-request.html">Submit a request</a>
        <p class="font-size-sm mb-0">Contact us and we’ll get back to you as soon as possible.</p>
    </div>
</section>

